SortAlgorithms.vcxproj
SortAlgorithms.vcxproj.filters
SortAlgorithms.vcxproj.user
x64/Debug/CommandLine.obj
x64/Debug/DataGenerator.obj
x64/Debug/SortAlgorithm.obj
x64/Debug/SortAlgorithms.exe.recipe
x64/Debug/SortAlgorithms.ilk
x64/Debug/SortAlgorithms.log
x64/Debug/SortAlgorithms.tlog/CL.command.1.tlog
x64/Debug/SortAlgorithms.tlog/CL.read.1.tlog
x64/Debug/SortAlgorithms.tlog/CL.write.1.tlog
x64/Debug/SortAlgorithms.tlog/Cl.items.tlog
x64/Debug/SortAlgorithms.tlog/SortAlgorithms.lastbuildstate
x64/Debug/SortAlgorithms.tlog/link.command.1.tlog
x64/Debug/SortAlgorithms.tlog/link.read.1.tlog
x64/Debug/SortAlgorithms.tlog/link.write.1.tlog
x64/Debug/main.obj
x64/Debug/vc143.idb
x64/Debug/vc143.pdb